@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --color-bg-primary: #f4f4f5;
  --color-bg-card: #ffffff;
  --color-text-main: #27272a;
  --color-text-muted: #52525b;
}

html, body {
  @apply h-full antialiased bg-bg-primary text-text-main;
}

#root {
  @apply min-h-screen flex flex-col mx-auto bg-bg-card shadow-sm;
  width: 1126px;
  max-width: 100%;
}
